@charset "UTF-8";

    * {
        margin: 0px;
        padding: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }
    body {
        background-color: black;
    }

    div#assistir {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #aha{
        display: inline-block;
        color: white;
        font-weight: 5234;
        position: absolute;
        width: 30%;
        top: 20%;
        left: 20%;

    }